.block-masthead {
    &__title {
        margin: 0;
        padding-bottom: 1em;
        font-weight: 400;
        color: $secondary-9;
    }

    &__label {
        display: block;
        padding-bottom: .2em;
    }

    &__img-label {
        font-weight: 400;
        margin-bottom: .2em;
    }

    &__pic {
        width: 164px;
        height: 164px;
        object-fit: cover;
        display: block;
    }
    
    &__pic-label {
        padding: 5px;
        display: block;
        float: left;
        border: 4px solid transparent;
        transition: all .3s ease-in-out;
    }

    &__background {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    &__background:checked + label {
        border: 4px solid $secondary-8;
    }

    &__input {
        display: block;
        width: 300px;
        padding: .2em .4em;
        border: 1px solid $secondary-7;
    }

    &__wrapper {
        padding: 10px 0;
        margin: 0;
    }
}
