.calc {
    padding: 10px;

    &__header {
        color: $primary-8;
        font-weight: 400;
        margin: 0.2em 0 0.3em
    }

    &__wrapper {

    }

    &__radio-header {
        color: $primary-8;
        margin: 1em 0 0.5em;
        font-weight: 400;
    }

    &__radio-option {
        padding-bottom: 0.1em;
    }

    &__label {
        font-weight: 400;
        font-size: 1.17em;
        margin: 1em 0 0.5em;
        display: block;
        color: $primary-8;
    }

    &__radio {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            background-color: $primary-3;
        }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            content: '✔';
        }
    }

    &__checkbox-wrapper {
        padding-bottom: 0.75em;
    }

    &__input {
        display: block;
        height: 32px;
        padding: 0.1em 8px;
        border: 1px solid $gray-6;
    }

    &__checkbox-label {
        line-height: 20px;
        padding-left: 25px;

        &:before {
            content: '';
            width: 18px;
            height: 18px;
            display: inline-block;
            background-color: $white;
            border: 1px solid $primary-6;
            color: $primary-8;
            position: absolute;
            margin-left: -25px;
            text-align: center;
            line-height: 16px;
        }
    }

    &__radio-label {
        line-height: 20px;
        padding-left: 25px;

        &:before {
            content: '';
            margin-top: 2px;
            width: 16px;
            height: 16px;
            display: inline-block;
            background-color: $white;
            border: 2px solid $gray-4;
            color: $primary-6;
            position: absolute;
            margin-left: -25px;
            text-align: center;
            line-height: 18px;
            border-radius: 50px;
            transition: all 0.15s ease-in-out;
        }
    }

    &__result {
        font-size: 1.05em;
        line-height: 1.45;
        padding-top: 0.5em;
        float: left;
        max-width: 600px;
    }

    &__left {
        width: 50%;
        float: left;

        @media all and (max-width: 42em) {
            width: 100%;
        }
    }

    &__right {
        width: 50%;
        float: left;

        @media all and (max-width: 42em) {
            width: 100%;
        }
    }
}

.calc-container {
    max-width: 60em;
    background-color: white;
    margin: 0 auto;
    position: relative;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 6px;
    padding: 1.2em;
    margin-top: 1.5em;

    @media all and (max-width: 61em) {
        max-width: 96%;
    }
}
