.team {
    width: 100%;

    &__member {
        float: left;
        width: 33.33333%;
        position: relative;
        padding: 10px;
        margin: 0;

        @media all and (max-width: 43em) {
            width: 50%;
        }

        @media all and (max-width: 24em) {
            width: 100%;
        }
    }

    &__header {
        margin: 0;
        padding: 0.5em 0 0.5em 0.3em;
        color: $primary-8;
        font-weight: 400;
        font-size: 2.2em;
    }
}

.member {
    &__info {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 1.15em;
        color: white;
        background-color: $secondary-7;
        padding: 0.3em 0.5em;
        opacity: 0.85;
    }

    &__img {
        display: block;
        width: 100%;
    }
}

.team-container {
        max-width: 60em;
        margin: 0 auto;
        position: relative;
        height: 100%;
        min-height: 300px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-top: 1.5em;
        border-radius: 6px;
        background-color: white;
        padding: 10px;

        @media all and (max-width: 61em) {
            max-width: 96%;
        }
}
