/* stylelint-disable no-browser-hacks */
/* variables are detected as hacks */

$primary-1: red;
$primary-2: red;
$primary-3: red;
$primary-4: red;
$primary-5: red;
$primary-6: red;
$primary-7: red;
$primary-8: red;
$primary-9: red;

$secondary-1: red;
$secondary-2: red;
$secondary-3: red;
$secondary-4: red;
$secondary-5: red;
$secondary-6: red;
$secondary-7: red;
$secondary-8: red;
$secondary-9: red;

/* stylelint-enable no-browser-hacks */
