<div class="masthead" style="background-image: url('/static/img/about.jpg')">
    <div class="masthead__inner">
        <h1 class="masthead__title">O nas</h1>
    </div>
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <p>Architect to prężnie działająca pracownia projektowania wnętrz, która powstała na początku 2011r. Od ponad 5 lat z powodzeniem realizujemy projekty wnętrz na terenie Warszawy i okolic.</p>
        <p>W naszym dorobku mamy już ponad 100 projektów – zachęcamy do zapoznania się z naszym portfolio, które w jakimś stopniu pokaże Państwu nasze pomysły i możliwości.</p>
        <p>W naszej firmie stawiamy na rozwój - co roku uczestniczymy w największych imprezach branżowych, odwiedzamy największe targi wnętrzarskie w Paryżu i Mediolanie tak by być na bieżąco z najnowszymi trendami.</p>
        <h2>Nasze wartości</h2>
        <p>Architect to pracownia projektowa, która wsłuchuje się bardzo uważnie w potrzeby klienta.  Nigdy nie ograniczamy ilości koncepcji projektowych i pracujemy aż obie strony są zadowolone z efektu. Kładziemy duży nacisk na przejrzystość i dokładność dokumentacji projektowej.</p>
        
        <p>Oferujemy:
            <ul>
                <li>Lepszą jakość życia dzięki praktycznym i funkcjonalnym projektom.</li>
                <li>Radość z indywidualnych i nowatorskich rozwiązań.</li>
                <li>Zdrowie zapewnione przez bezpieczne materiały.</li>
                <li>Oszczędzone pieniądze dzięki trwałym i energooszczędnym rozwiązaniom.</li>
                <li>Zyskany czas poprzez profesjonalną pomoc na każdym etapie inwestycji.</li>
            </ul>
        </p>
        
        <p>Ósemka w naszej nazwie symbolizuje nieskończoność i dążenie do doskonałości. Wybraliśmy tę symboliczną cyfrę aby podkreślić, iż A8 nie wybiera między ceną a jakością. Przyjmujemy, że wysoka jakość prowadzi ostatecznie do obniżenia kosztów. Dobry projekt jest inwestycją na całe życie.</p>

        <h2>Zespół</h2>
        <div class="team u-clearfix">
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/13.jpg">
                <figcaption class="memeber__info">
                    Założyciel, Jan Kowalski z 30 letnim doświadczeniem w pracy
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/12.jpg">
                <figcaption class="memeber__info">
                    Starszy architekt, Jan Kowalski, specjalista od budowy wieżowców
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/11.jpg">
                <figcaption class="memeber__info">
                    Starszy architekt, Jak Kowalski, specjalizacja w projektowaniu wnętrz
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/10.jpg">
                <figcaption class="memeber__info">
                    Architekt, Anna Nowak, specjalista w zagospodarorywaniu przestrzeni publicznych
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/9.jpg">
                <figcaption class="memeber__info">
                    Architekt, Jan Kowalski, specjalista w projektowaniu domów mieszkalnych
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/8.jpg">
                <figcaption class="memeber__info">
                    Architekt, Jan Kowalski, specjalista w projektowaniu budynków użyteczności publicznej
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/7.jpg">
                <figcaption class="memeber__info">
                    Architekt, Anna Nowak, specjalista w instalacjach sanitarnych, wentylacyjnych
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/6.jpg">
                <figcaption class="memeber__info">
                    Architekt, Anna Nowak, specjalista w projektowaniu ogrodów
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/5.jpg">
                <figcaption class="memeber__info">
                    Młodszy architekt, Anna Nowak, specjalista w projektowaniu domów jednorodzinnych
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/4.jpg">
                <figcaption class="memeber__info">
                    Młodszy architekt, Jan Kowalski, specjalista w projektowaniu dróg
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/3.jpg">
                <figcaption class="memeber__info">
                    Młodszy architekt, Anna Nowak, specjalista w projektowaniu ogrodów
                </figcaption>
            </figure>
            <figure class="team__member member">
                <img class="member__img" src="/static/img/portraits/2.jpg">
                <figcaption class="memeber__info">
                    Młodszy architekt, Jan Kowalski, specjalista w projektowaniu wieżowców
                </figcaption>
            </figure>
        </div>        
    </div>
</div>