<div class="masthead">
    <h1 class="masthead__title">About us</h1>
</div>
<div class="about">
    <div class="about__inner">
        <p>Architect to prężnie działająca pracownia projektowania wnętrz, która powstała na początku 2011r. Od ponad 5 lat z powodzeniem realizujemy projekty wnętrz na terenie Warszawy i okolic.</p>
        <p>W naszym dorobku mamy już ponad 100 projektów – zachęcamy do zapoznania się z naszym portfolio, które w jakimś stopniu pokaże Państwu nasze pomysły i możliwości.</p>
        <p>W naszej firmie stawiamy na rozwój - co roku uczestniczymy w największych imprezach branżowych, odwiedzamy największe targi wnętrzarskie w Paryżu i Mediolanie tak by być na bieżąco z najnowszymi trendami.</p>
        <h2>Nasze wartości</h2>
        <p>Architect to pracownia projektowa, która wsłuchuje się bardzo uważnie w potrzeby klienta.  Nigdy nie ograniczamy ilości koncepcji projektowych i pracujemy aż obie strony są zadowolone z efektu. Kładziemy duży nacisk na przejrzystość i dokładność dokumentacji projektowej.</p>
        
        <p>Oferujemy:
            <ul>
                <li>Lepszą jakość życia dzięki praktycznym i funkcjonalnym projektom.</li>
                <li>Radość z indywidualnych i nowatorskich rozwiązań.</li>
                <li>Zdrowie zapewnione przez bezpieczne materiały.</li>
                <li>Oszczędzone pieniądze dzięki trwałym i energooszczędnym rozwiązaniom.</li>
                <li>Zyskany czas poprzez profesjonalną pomoc na każdym etapie inwestycji.</li>
            </ul>
        </p>
        
        <p>Ósemka w naszej nazwie symbolizuje nieskończoność i dążenie do doskonałości. Wybraliśmy tę symboliczną cyfrę aby podkreślić, iż A8 nie wybiera między ceną a jakością. Przyjmujemy, że wysoka jakość prowadzi ostatecznie do obniżenia kosztów. Dobry projekt jest inwestycją na całe życie.</p>
    </div>
</div>