<form action="/admin/changePassword" method="post">
    <div>
        <label for="oldPassword">Old password</label>
        <input type="password" id="oldPassword" name="oldPassword"/>
    </div>
    <div>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" name="newPassword"/>
    </div>
    <div>
        <label for="newPassword2">New password:</label>
        <input type="password" id="newPassword2" name="newPasswordRepeat"/>
    </div>
    <div>
        <input type="submit" value="Change password"/>
    </div>
</form>
