<div class="changePassword">
    {{#if status}}
        <div class="toast" style="display: none">{{status}}</div>
    {{/if}}
    {{#if type}}
        <div class="toast-status" style="display: none">{{type}}</div>
    {{/if}}
    <h2 class="changePassword__header">Zmień hasło</h2>
    <form action="/admin/changePassword" method="post">
        <div class="changePassword__wrapper">
            <label for="oldPassword" class="changePassword__label">Aktualne hasło</label>
            <input type="password" id="oldPassword" name="oldPassword" class="changePassword__input" />
        </div>
        <div class="changePassword__wrapper">
            <label for="newPassword" class="changePassword__label">Nowe hasło</label>
            <input type="password" id="newPassword" name="newPassword" class="changePassword__input" />
        </div>
        <div class="changePassword__wrapper">
            <label for="newPassword2" class="changePassword__label">Powtórz nowe hasło</label>
            <input type="password" id="newPassword2" name="newPasswordRepeat" class="changePassword__input" />
        </div>
        <div>
            <button type="submit" class="changePassword__submit">Zmień hasło</button>
        </div>
    </form>
</div>
