<div class="masthead" style="background-image: url('/static/img/contact.jpg')">
    <div class="masthead__inner">
        <h1 class="masthead__title">Contact</h1>
    </div>
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <h2>Biura</h2>
        <div class="office u-clearfix">
            <p class="office__info">
                Siedziba<br>
                pl. Bema 10,<br>
                Wrocław, 50-004<br>
                tel: <a href="tel: 123456789">123 456 789</a><br>
                email: <a href="mailto: contact@architect.com">contact@architect.com</a>
            </p>
            <div class="office__map">
                <div class="embed-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        <div class="office u-clearfix">
            <p class="office__info">
                Biuro projektowe<br>
                pl. Grunwaldzki 20,<br>
                Warszawa, 50-024<br>
                tel: <a href="tel: 123456788">123 456 788</a><br>
                email: <a href="mailto: office@architect.com">office@architect.com</a>
            </p>
            <div class="office__map">
                <div class="embed-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        <h2>Napisz do nas</h2>
        <p>Napisz do nas na adres <a href="mailto: contact@architect.com">contact@architect.com</a> lub skorzystaj z poniższego formularza. Wycenę projektów robimy za darmo.</p>
        <form action="/contact" method="post">
            <p>
                <label for="name">Imię i nazwisko</label>
                <input type="text" name="name" id="name" placeholder="np. Jan Kowalski">
            </p>
            <p>
                <label for="mail">Adres e-mail</label>
                <input type="email" name="mail" id="mail" placeholder="np. jan.kowalski@gmail.com">
            </p>
            <p>
                <label for="topic">Temat</label>
                <input type="text" name="topic" id="topic" placeholder="np. Wycena projektu mieszkania">
            </p>
            <p>
                <label for="msg">Wiadomość</label>
                <textarea name="msg" id="msg" cols="30" rows="10" placeholder="tu wpisz treść wiadomości"></textarea>
            </p>
        </form>        
    </div>
</div>