<div class="masthead" style="background-image: url('/static/img/about.jpg');">
    <div class="masthead__inner">
        <h2 class="masthead__title">O nas</h2>
    </div>    
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <p>Architect to prężnie działająca pracownia projektowania wnętrz, która powstała na początku 2011r. Od ponad 5 lat z powodzeniem realizujemy projekty wnętrz na terenie Warszawy i okolic. 
        W naszym dorobku mamy już ponad 100 projektów – zachęcamy do zapoznania się z naszym portfolio, które w jakimś stopniu pokaże Państwu nasze pomysły i możliwości. 
        W naszej firmie stawiamy na rozwój - co roku uczestniczymy w największych imprezach branżowych, odwiedzamy największe targi wnętrzarskie w Paryżu i Mediolanie tak by być na bieżąco z najnowszymi trendami.</p>
        <a href="/about">Poznaj nas</a>
    </div>
</div>
<div class="masthead" style="background-image: url('/static/img/offer.jpg');">
    <div class="masthead__inner">
        <h2 class="masthead__title">Offer</h2>
    </div>    
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <ul>
            <li>
                <h3>Projekty aranżacji wnętrz</h3>
                <p>W skład dokumentacji technicznej projektu wchodzą: rzuty funkcjonalne, rzuty sufitów i podłóg, schematy rozprowadzenia instalacji, charakterystyczne widoki ścian, detale architektoniczne dla wykonawcy, specyfikacje materiałów wykończeniowych.</p>
            </li>
            <li>
                <h3>Kompleksowe projekty budynków</h3>
                <p>Projekty domów jednorodzinnych i rezydencji, budynków wielorodzinnych, budynków użyteczności publicznej, w tym gastronomia, zakłady opieki zdrowotnej, biurowce, obiektów sportowych.</p>
            </li>
            <li>
                <h3>Projekty przebudowy i modernizacji</h3>
                <p>Zakres projektu przebudowy jest określany zgodnie z potrzebami inwestora oraz wymogami formalno-prawnymi. Zapewniam również obsługę w zakresie: inwentaryzacja wielobranżowa, ekspertyza budowlana stanu istniejącego, badania geotechniczne gruntu.</p>
            </li>
            <li>
                <h3>Projekty urbanistyczne</h3>
                <p>Koncepcja architektoniczna w cenie 1500zł brutto- domów jednorodzinnych lub obiektów usługowych o powierzchni do 200m2 (dla większych obiektów cena do uzgodnienia), w zakresie: opis i parametry techniczne, plan zagospodarowania, rzuty kondygnacji, przekrój, elewacje.</p>
            </li>
        </ul>
        <a href="/offer">Zapoznaj się z naszą ofertą</a>
    </div>
</div>
<div class="masthead" style="background-image: url('/static/img/projects/1-15.jpg');">
    <div class="masthead__inner">
        <h2 class="masthead__title">Portfolio</h2>
    </div>    
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/1-20.jpg');">Willa na wzgórzu</div>
        </a>
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/2.jpg');">Szkoła nr 14</div>
        </a>
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/3.jpg');">Mieszkanie szeregowe</div>
        </a>
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/4.jpg');">Dom jednorodzinny</div>
        </a>
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/5.jpg');">Projekt łazienki</div>
        </a>
        <a href="/portfolio/test">
            <div class="portfolio__item" style="background-image: url('/static/img/projects/6.jpg');">Dom dwupiętrowy</div>
        </a>
        <a href="/portfolio">Zobacz więcej projektów</a>
    </div>
</div>
<div class="masthead" style="background-image: url('/static/img/contact.jpg');">
    <div class="masthead__inner">
        <h2 class="masthead__title">Contact</h2>
    </div>    
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <p>
            Siedziba<br>
            pl. Bema 10,<br>
            Wrocław, 50-004<br>
            tel: <a href="tel: 123456789">123 456 789</a><br>
            email: <a href="mailto: contact@architect.com">contact@architect.com</a>
        </p>
        <p>
            Biuro projektowe<br>
            pl. Grunwaldzki 20,<br>
            Warszawa, 50-024<br>
            tel: <a href="tel: 123456788">123 456 788</a><br>
            email: <a href="mailto: office@architect.com">office@architect.com</a>
        </p>
        <a href="/contact">Skontaktuj się z nami</a>
    </div>
</div>