<div class="masthead" style="background-image: url('/static/img/offer.jpg')">
    <div class="masthead__inner">
        <h1 class="masthead__title">Offer</h1>
    </div>
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <p>Nasza pracownia oferuje Państwu kompleksowe – wielobranżowe opracowania projektowe, w skład których wchodzą:</p>
        <ul>
            <li>analizy przedprojektowe</li>
            <li>studia programowo-przestrzenne</li>
            <li>projekty koncepcyjne</li>
            <li>projekty budowlane</li>
            <li>pomoc w uzyskaniu pozwolenia na budowę</li>
            <li>kosztorysy inwestorskie</li>
            <li>projekty wykonawcze</li>
            <li>nadzór autorski na budowie</li>
            <li>uczestnictwo w pracach związanych z przekazaniem obiektu do użytkowania</li>
        </ul>
        <p>Zakres prac projektowych, wykonywanych w naszym biurze, to m.in.:</p>
        <ul>
            <li>projekty budynków mieszkalnych jednorodzinnych i wielorodzinnych</li>
            <li>projekty budynków użyteczności publicznej</li>
            <li>projekty budynków handlowych</li>
            <li>projekty budynków przemysłowych</li>
            <li>przebudowy i rozbudowy budynków istniejących</li>
            <li>przebudowy, rozbudowy i remonty obiektu zabytkowych</li>
            <li>adaptacje gotowych projektów</li>
        </ul>
        <div class="calculator">
            <h2>Oblicz przykładowy koszt projektu domu wolnostojącego</h2>
            <p>
                <label for="size">Wielkość domu w m^2</label>
                <input type="number" name="size" id="size">
            </p>
            <p>
                <h3>Garaż</h3>
                <input type="radio" name="garage" id="garage1" value="0">
                <label for="garage1">Bez garażu</label>
                <input type="radio" name="garage" id="garage2" value="1">
                <label for="garage2">1 garaż</label>
                <input type="radio" name="garage" id="garage3" value="2">
                <label for="garage3">2 garaże</label>
            </p>
            <p>
                <h3>Rodzaj projektu</h3>
                <input type="radio" name="projekt" id="project1" value="project1">
                <label for="project1">Projekt</label>
                <input type="radio" name="projekt" id="project2" value="project2">
                <label for="project2">Projekt + instalacje</label>
                <input type="radio" name="projekt" id="project3" value="project3">
                <label for="project3">Projekt + instalacje + aranżacje</label>
            </p>
            <p>
                <input type="checkbox" name="garden" id="garden">
                <label for="garden">Projekt ogrodu</label>
            </p>
            <p>Oferujemy projekt domu jednorodzinnego o metrażu 45m^2 z garażem i projektem instalacji, wnętrz i ogrodu od 4000 zł</p>
        </div>
    </div>
</div>