<div class="masthead" style="background-image: url('/static/img/projects/1-13.jpg')">
    <div class="masthead__inner">
        <h1 class="masthead__title">Portfolio</h1>
    </div>
</div>
<div class="content">
    <div class="content__inner u-clearfix">
        <div class="project project--big">
            <a href="#" class="project__link"  style="background-image: url('/static/img/projects/1-12.jpg');">
                <h2 class="project__title">Willa na wzgórzu</h2>
            </a>
        </div>
        <div class="project">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/2.jpg');">
                <h2 class="project__title">Restauracja</h2>
            </a>
        </div>
        <div class="project">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/3.jpg');">
                <h2 class="project__title">Siedziba korporacji</h2>
            </a>
        </div>
        <div class="project project--big">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/4.jpg');">
                <h2 class="project__title">Modernistyczny dom</h2>
            </a>
        </div>
        <div class="project">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/5.jpg');">
                <h2 class="project__title">Biura agancji reklamowej</h2>
            </a>
        </div>
        <div class="project">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/6.jpg');">
                <h2 class="project__title">Szkoła prywatna</h2>
            </a>
        </div>
        <div class="project">
            <a href="#" class="project__link" style="background-image: url('/static/img/projects/7.jpg');">
                <h2 class="project__title">Hotel "George"</h2>
            </a>
        </div>
    </div>
</div>