<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Static views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/static/js/admin.js" defer></script>
</head>
<body>
    <aside>
        <div class="aside admin-bar clearfix">
            <ul class="admin-bar__list">
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/pageList">Lista stron</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/newPage">Nowa strona</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/editMenus">Edycja nagłówka i stopki</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/changePassword">Zmiana hasła</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/logout">Wyloguj się</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="main admin-content">{{{body}}}</div>
    </main>
</body>
</html>
