<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Static views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="main">{{{body}}}</div>
    </main>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

    <!-- Initialize Quill editor -->
    <!--<script>
    var editor = new Quill('.main', {
        modules: { toolbar: '#toolbar' },
        theme: 'snow'
    });
    </script>-->
</body>
</html>