<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Static views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/static/js/admin.js" defer></script>
</head>
<body>
    <ul class="prophet"></ul>
    <aside>
        <div class="aside admin-bar clearfix">
            <ul class="admin-bar__list">
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/pageList"><i class="fa fa-list fa-lg" aria-hidden="true"></i>Lista stron</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/newPage"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i>Nowa strona</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/manageHeader"><i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>Edycja nagłówka</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/managePhotos"><i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>Zarządzaj zdjęciami</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/changePassword"><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>Zmiana hasła</a></li>
                <li class="admin-bar__item"><a class="admin-bar__link" href="/admin/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>Wyloguj się</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="main admin-content">{{{body}}}</div>
    </main>
</body>
</html>
