<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Static views</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <div class="nav">
                    <div class="nav__inner">
                        <a href="#" class="nav__homepage">
                            <img src="/static/assets/logo-cropped.png" class="nav__icon">
                            <span class="nav__title">Architekt</span>
                        </a>
                        <label for="menu-toggle" class="nav__menu-toggle" onclick="">Menu</label>  
                        <input type="checkbox" id="menu-toggle" name="menu" class="nav__menu-checkbox"/>
                        <ul class="nav__menu">
                            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Offer</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
                            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    
    <main>
        <div class="main">{{{body}}}</div>
    </main>
    
    <footer>
        <div class="footer">
            <nav>
                <div class="footer-nav">
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Offer</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <div class="footer-contact">
                <p>
                    Siedziba<br>
                    pl. Bema 10,<br>
                    Wrocław, 50-004<br>
                    tel: <a href="tel: 123456789">123 456 789</a><br>
                    email: <a href="mailto: contact@architect.com">contact@architect.com</a>
                </p>
                <p>
                    Biuro projektowe<br>
                    pl. Grunwaldzki 20,<br>
                    Warszawa, 50-024<br>
                    tel: <a href="tel: 123456788">123 456 788</a><br>
                    email: <a href="mailto: office@architect.com">office@architect.com</a>
                </p>
            </div>
            <div class="copyright">
                © Copyright Architect 2016 
            </div>
        </div>
    </footer>
</body>
</html>